body {
    font-family: 'Slabo 27px', serif;
    margin: 10%;
}



h1, .container {
    text-align: center;
}

h1, span {
    font-size: 3em;
}

button {
    font-size: 2em;
    margin-top: 4%;
    margin-left: 5px;
    border-radius: 5px;
}

input {
    width: 100px;
    height: 40px;
    margin-left: 5px;
    border-radius: 5px;
}

button:hover {
    color: red;
}



